.panel-container {
  border-radius: var(--ui-radius);
  box-shadow: var(--colors-boxShadow);
  background-color: var(--colors-panel);

  .title-area {
    display: flex;
    flex-direction: column;
    user-select: none;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: calc(var(--ui-padding) / 2) var(--ui-padding);

      .panel-title {font-weight: bold;}

      img {height: var(--fontSizes-medium);}
    }
  }

  .children-container {
    display: flex;
    flex-direction: column;
    gap: var(--ui-margin);
    padding: calc(var(--ui-padding) / 2) var(--ui-padding);
  }
}