$bp2: 700px;

.infos-texts-container {
  @media screen and (max-width: $bp2) {text-align: center;}

  .title {
    font-size: var(--fontSizes-title);
    line-height: var(--fontSizes-title);
    font-family: 'TitleFont';
  }

  .pp-breakpoint {
    display: none;
    @media screen and (max-width: $bp2) {display: flex;}
    justify-content: center;

    img {max-width: 150px;}
  }

  .row {
    display: flex;
    justify-content: center;
    gap: var(--ui-margin);

    .pp-default {
      @media screen and (max-width: $bp2) {display: none;}
    }
  }
}