#home-page-container {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;

  .home-page-body {
    display: flex;
    flex-direction: column;
    gap: var(--ui-margin);
    padding: var(--ui-padding);

    .target-test {scroll-margin-top: 60px;}
  }
}