$topBp: 920px;

#home-page-container {
  height: 100%;
  padding: var(--ui-padding);
  box-sizing: border-box;
  overflow-x: hidden;

  .top-area {
    display: flex;
    gap: var(--ui-margin);
    justify-content: space-between;
    box-sizing: border-box;

    @media screen and (max-width: $topBp) {
      flex-direction: column;
    }

    .texts {
      // max-width: 50vw;

      @media screen and (max-width: $topBp) {
        max-width: auto;
      }

      .title {
        font-size: var(--fontSizes-title);
        line-height: var(--fontSizes-title);
        font-family: 'TitleFont';
      }
    }
  }
}