@font-face {
  font-family: 'TitleFont';
  src: url('../../assets/fonts/Azonix.otf') format('truetype');
}

#router-container {
  // COLORS
  --colors-background: hsl(0, 0%, 96%);
  --colors-primary: rgb(0, 192, 118);
  --colors-secondary: #96D4BC;
  --colors-text: #333333;
  --colors-cloudy: #00C07644;
  --colors-panel: white;
  --colors-boxShadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --colors-dropShadow: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  --colors-dropShadowHover: drop-shadow(0px 0px 2px rgba(0, 192, 118, 0.5));
  --colors-shadow: #333333;
  --colors-disabled: rgb(184, 184, 184);
  --colors-disabledText: rgb(218, 218, 218);
  --colors-danger: red;

  // DURATIONS
  --durations-normal: 0.2s;
  --durations-long: 1s;

  // UI
  --ui-padding: 12px;
  --ui-margin: 12px;
  --ui-radius: 6px;

  // FONTSIZES
  $fontSizesCoef: 0.30vw;
  --fontSizes-small: calc(12px + #{$fontSizesCoef});
  --fontSizes-medium: calc(18px + #{$fontSizesCoef});
  --fontSizes-large: calc(24px + #{$fontSizesCoef});
  --fontSizes-title: calc(50px + #{$fontSizesCoef});

  width: 100vw;
  height: 100vh;
  color: var(--colors-text);
  font-size: var(--fontSizes-medium);
  background-color: var(--colors-background);

  ::-webkit-scrollbar {width: 10px;}

  ::-webkit-scrollbar-thumb {background: var(--colors-primary);}

  ::-webkit-scrollbar-track {background: var(--colors-secondary);}

  ::selection {background-color: var(--colors-primary);}
}